body {
    margin: 0;
    padding: 0;
    background-color: black;
}
nav {
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}